body{margin: 0px;padding: 0px;}
#title {background-color: #ff4c68;color:white;width: 1550px;}
.titleimg{transform:rotateZ(20deg);padding-left: 30px;padding-top:50px;height:500px;width: 300px;}
.nav-link:hover {color: white;}
.firstdiv {background-color:#ff4c68;}
#features {background-color: #f1f1f1;width: 1550px;}
h3 {font-family:'Montserrat', sans-serif;font-weight:700;text-align:center;padding-left: -18%;margin-left: -1%;margin-top: 25px;}
.icon:hover {color:rgb(223, 161, 161);}
#testimonials{text-align: center;background-color: #ef8172;color: rgb(230, 230, 230);width: 1550px;}
h2{font-family:'Montserrat', sans-serif;line-height: 1.5;font-size:3.5rem;font-weight: 800;}
#press{text-align: center;background-color: #ef8172;width: 1550px;}
.pressimg{height:3rem;width: 13rem;padding:0.7rem;}
.presssec{background-color:#ef8172  ;padding-bottom: 5rem;}
.testimonial-image{background-color:#ef8172;}
.carousel-item{padding: 7% 15%;}
.card{padding: 0;margin: 30px 10px ;height:450px;width:450px;}
@media (max-width:990px){
    .titleimg {
        position: static;
        transform: rotate(0);}
    #title{
        text-align: center;
    }
}
 #cta{
     background-color: #ff4c68;
     width:1550px;
     text-align: center;
     padding-bottom: 50px;
     margin: 0px;
 }
 #footer{
     background-color:#f3f3f3 ;
     text-align: center;
    width: 1550px;
    height: 150px;
    margin: 0px;
 }
 .footer-img{
     margin: 0 auto;
 }
 .bottom{
    background-color:#f3f3f3 ;
    text-align: center;
   }
   .fa-2x{
       margin:2rem auto;
   }